<ion-view class="pane"> 
  <ion-header-bar align-title="center" class="bar bar-positive" data-component="crn-ion-header-bar"> 
    <div class="buttons buttons-left header-item"> 
      <button class="button button-clear" menu-toggle="left" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button> 
    </div> 
    <h1 class="title">{{'Home.view.Home' | translate }}</h1> 
    <div class="buttons buttons-right header-item"> 
      <button class="button button-clear" menu-toggle="right" data-component="crn-button" xattr-type="button-clear"> <i class="icon ion-navicon"></i> </button> 
    </div> 
  </ion-header-bar> 
  <ion-content class="scroll-content has-header" data-component="crn-ion-content"> 
    <div style="height: 60px;" data-component="crn-spacer" class="component-holder" id="crn-spacer-909305">
       &nbsp; 
      <datasource name="User33161" entity="app.User" keys="id" class="" schema="[{&quot;name&quot;:&quot;id&quot;,&quot;type&quot;:&quot;String&quot;,&quot;nullable&quot;:false,&quot;key&quot;:true},{&quot;name&quot;:&quot;email&quot;,&quot;type&quot;:&quot;String&quot;,&quot;nullable&quot;:true,&quot;key&quot;:false},{&quot;name&quot;:&quot;name&quot;,&quot;type&quot;:&quot;String&quot;,&quot;nullable&quot;:false,&quot;key&quot;:false},{&quot;name&quot;:&quot;login&quot;,&quot;type&quot;:&quot;String&quot;,&quot;nullable&quot;:false,&quot;key&quot;:false},{&quot;name&quot;:&quot;picture&quot;,&quot;type&quot;:&quot;String&quot;,&quot;nullable&quot;:true,&quot;key&quot;:false},{&quot;name&quot;:&quot;password&quot;,&quot;type&quot;:&quot;String&quot;,&quot;nullable&quot;:false,&quot;key&quot;:false},{&quot;name&quot;:&quot;theme&quot;,&quot;type&quot;:&quot;String&quot;,&quot;nullable&quot;:true,&quot;key&quot;:false}]" condition=""></datasource> 
      <label class="item item-input item-select component-holder" data-component="crn-dynamic-select" id="crn-dynamic-select-609424"><span class="input-label">Valores</span><select ng-model="User33161.active.email" crn-datasource="User33161" class="form-control" id="dynamic-select-7795" name="dynamic-select-7795" xkey-field="email" xdisplay-field="email"><option value="">None</option></select></label>
    </div> 
  </ion-content> 
</ion-view> 
